#heading_wrapper{
-moz-box-shadow: inset 0 0 6px ##E6EFAC;
box-shadow: inset 0 0 6px #E6EFAC;
-webkit-box-shadow: inset 0 0 6px #E6EFAC;
height: 42px;
padding-top: 5px;
background: #143d8d;
margin-top: 8px;
}

#heading_wrapper_after{
    height: 31px;
}

#heading_dbl_bars {
background: url(/sites/all/themes/poetry/images/double_line_top_nav.png) 0 0 no-repeat;
height: 61px;
max-width: 1000px;
margin-top: -62px;
margin-left: auto;
margin-right: auto;
}

.post_share_wrap{
display:none;
}

.page_heading_text {
    margin-top: 0px;
}
#nav {
    z-index:2;
    position:relative;
}

img.opalbk {

    z-index: 0;
    position: relative;
    left: 25%;
    bottom: 207px;
    width: 38%;
    opacity: 0.75;
}

#main_wrapper div.container{
background: #E6EFAC;
}

.top-bar .active {
    border-top: 4px solid #3D3D3D;
}

.top-bar ul > li:not(.name):hover {
    border-top: 4px solid #3D3D3D;
}

.tabs li.active {
    border-top: none;
}

/*lesson, course list styles*/
div.view-lesson-list, div.view-course-list, div.view-course-with-lessons{
    padding: 10px;
    color: #444;
    background: rgba(255,255,255,0.5);
    text-align: center;}

ul.lesson_item, ul.course_item, ul.course_lesson_item{
    list-style-type: none;
    display: inline-block;
}

ul.lesson_item li, ul.course_item li, ul.course_lesson_item li{
    float: left;
    clear:both;
}

ul.lesson_item a, ul.course_item a, ul.course_lesson_item a{
    color: #444;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

ul.lesson_item a:hover, ul.course_item a:hover, ul.course_lesson_item a:hover{
        color: #35a1ff;
                }

                
